<h1>lista de discos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Año</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
        </tr>
    </thead>

    <tbody>
        @for (disk of disks; track disk.name; ){
            <tr [class.clearance]="disk.clearance">
                <td> <img [src]="disk.image" [alt]="disk.name" width="100"></td>
                <td>{{disk.name}}</td>
                <td>{{ disk.price | currency}}</td>
                <td>{{ disk.year }}</td>
                @if (disk.stock>0){
                    <td>{{disk.stock}}</td>
                } @else {
                    <td><span class="badge text-bg-warning" *ngIf="disk.stock==0">SIN STOCK</span></td>
                }
                <td>
                    <app-input-integer [(quantity)]="disk.quantity" [max]="disk.stock" *ngIf="disk.stock" (maxReached)="maxReached($event)"></app-input-integer>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="addToCart(disk)">Comprar</button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="4">No hay discos para mostrar.</td>
            </tr>
        }
    </tbody>
</table>